@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import "https://fonts.googleapis.com/css?family=Roboto";

/* configurações gerais da página e texto --------------------------------------------------------- */
html, body {
    display: block;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: 'PT Serif';
    text-align: justify;
    text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0px;
    padding: 0px;
}

/* configurações da barra de topo ----------------------------------------------------------------- */
#topo {
    display: block;
    position: fixed;
    width: 100%;
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 40px;
    background: orange;
    -webkit-box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.6);
    z-index: 1;
}
#buscador {
    display: block;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 10px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#buscador:focus {
    border-color:#333;
}
#titulo_topo {
    display: block;
    position: absolute;
    left: 100px;
    padding: 5px;
    color: rgb(255, 255, 255);
}
#menu{
    display: block;
    position: absolute;
    left: 5px;
    height: 30px;
    padding: 5px;
}
#menu:hover {
    cursor: pointer;
}
/* #ver-menu {
    display: none;
} */
#ver-menu:checked~#navegacao {
    display: none;
}
#logo {
    display: block;
    position: absolute;
    left: 50px;
    height: 30px;
    padding: 5px;
}
#pdf {
    display: block;
    position: absolute;
    height: 27px;
    right: 220px;
    padding: 5px;
}
#pdf:hover {
    cursor: pointer;
}

/* navegação lateral --------------------------------------------------  */
#navegacao {
    display: block;
    position: fixed;
    width: 220px;
    left: 0px;
    top: 40px;
    bottom: 30px;
    margin: 0px;
    padding: 0.5%;
    overflow: hidden;
    z-index: 0;
    text-align: left;
    background-color: transparent;
}
#navegacao_geral {
    display: block;
    position: absolute;
    width: 100%;
    top: 0px;
    height: 60%;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#navegacao_geral::-webkit-scrollbar {
    width: 0px;
}
#titulo_conteudo {
    position: fixed;
    width: 220px;
    background-color: orange;
    -webkit-border-radius: 3px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
#itens {
    display: block;
    position: absolute;
    top: 40px;
}
#navegacao_doc {
    display: block;
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#navegacao_doc::-webkit-scrollbar {
    width: 0px;
}
#itens_doc {
    display: block;
    position: absolute;
    top: 20px;
}
#titulo_conteudo_doc{
    position: fixed;
    width: 220px;
    background-color: orange;
    -webkit-border-radius: 3px;
    text-align: center;
    color: white;
}

/* colocando estilos nas listas */
ul {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}
ul li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}
ul.arrow li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  height: 5px;
  width: 5px;
  border: 1px solid #ff6600;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
}

/* conteúdo principal ------------------------------------------------------------- */
#conteudo {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 0px;
    left: 230px;
    top: 40px;
    margin: 0px;
    padding: 1%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

/* barra de status na parte de baixo ----------------------------- */
#base {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0px;
    padding: 0px;
    height: 30px;
    background: orange;
    -webkit-box-shadow: 0px -5px 20px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -5px 20px 3px rgba(0,0,0,0.6);
    box-shadow: 0px -5px 20px 3px rgba(0,0,0,0.6);
    z-index: 1;
    color: rgb(255, 255, 255);
}
#base_ir {
    display: block;
    position: absolute;
    padding: 5px;
    left: 30px;
}
#base_voltar {
    display: block;
    position: absolute;
    padding: 5px;
    right: 30px;
}
#base_copyright {
    display: block;
    position: absolute;
    padding: 5px;
    right: 10px;
    left: 10px;
    text-align: center;
}

/* configurações das imagens ------------------------------------------------------------- */
img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
.active a {
    color: orange;
    font-weight: bold;
}

/* dimensionando para desktops */
@media screen and (min-width: 900px) {
    #topo {
        height: 40px;
    }
    #buscador {
        top: 5px;
        bottom: 5px;
        right: 10px;
        left: auto;
        width: auto;
    }
    #pdf {
        top: 0px;
        height: 27px;
        right: 220px;
        left: auto;
    }
    /* navegação */
    #navegacao {
        top: 40px;
        bottom: 30px;
    }
    /* conteúdo principal */
    #conteudo {
        bottom: 30px;
        top: 40px;
    }
    /* barra de status na parte de baixo */
    #base {
        height: 30px;
    }
    #base_ir {
        left: 30px;
    }
    #base_voltar {
        right: 30px;
    }
    #base_copyright {
        top: 0px;
    }
}

/* redimensionando para celulares */
@media screen and (max-width: 800px) {
  #topo {
      height: 75px;
  }
  #buscador {
      top: 40px;
      bottom: 5px;
      left: 55px;
      right: auto;
      width: 350px;
  }
  #pdf {
      top: 35px;
      height: 27px;
      left: 13px;
      right: auto;
  }
  /* navegação */
  #navegacao {
      top: 70px;
      bottom: 30px;
  }
  /* conteúdo principal */
  #conteudo {
      bottom: 30px;
      top: 70px;
  }
  /* barra de status na parte de baixo */
  #base {
      height: 50px;
  }
  #base_ir {
      left: 10px;
  }
  #base_voltar {
      right: 10px;
  }
  #base_copyright {
      top: 20px;
  }
}

/* configurações das legandas das imagens ------------------------------------------------- */
.legendas {
  color:gray;
  text-align: center;
  font-size: 10pt;
}

/* configurações das barras de rolagem ------------------------------------------------- */
::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	width: 3px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-color: #a6a6a6;
	/* border: 2px solid #555555; */
}
::-webkit-scrollbar-thumb:hover {
	background-color: #000000;
}
